.limiter {
    background: linear-gradient(-135deg, #F2E6CC, #F7F1E3);
}

.wrap-login100 {
    background: linear-gradient(-135deg, #F2E6CC, #F7F1E3);
}

.top-title {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            ". monster ."
            ". monster ."
            ". monster .";
}

.DMbanner_png {
    grid-area: monster;
    justify-self: stretch;
}

.DMbanner_png-img {
    width: 100%;
    height: auto;
}

.login100-title {
    grid-area: monster;
    font-family: Luminari, fantasy;
    color: red;
    font-size: x-large;
    align-self: end;
    justify-self: center;
}

.login-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
        ". . ."
        ". login ."
        ". . .";
}

#new-account-dialog {
    grid-area: login;
}

.white-box {
    grid-area: login;
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas:
        ". . ."
        ". login-box ."
        ". . .";
    background-color: white;
}

.login-img {
    grid-area: login-box;
    width: 100%;
    height: auto;
}

.login-form {
    grid-area: login-box;
}

#error-message {
    color: white;
    justify-self: center;
}

.login-button {
    justify-self: center;
}

.login {
    width: 90%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

.password {
    width: 90%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
